<html>
  <head>
      <title>Cas Secured App - Secured</title>
  </head>
  <body>
    <h1>Welcome to Cas Secured Spring Boot App</h1>
    <h2>This is a Secured Page where you need authentication</h2>
    <h3>The connection with the server has worked properly</h3>
    <br>
    <a href="/logout">Logout</a>
  </body>
</html>
